<?xml version="1.0" encoding="UTF-8"?>
<suite name="项目名称" parallel="false">
    <!-- 参数化 -->
    <parameter name="filePath" value="D:\\case\\app_testcase.xlsx"/>

    <test name="接口自动化">
        <classes>
            <class name="com.bewg.pd.test.TestRun"/>
        </classes>
    </test> <!-- Test -->

    <listeners>
        <!-- reportng报告代替testng报告 -->>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>

        <!-- 用例失败执行次数 -->
        <listener class-name="com.bewg.pd.interf.listener.AnnotationTransfomerImpl"/>

        <!-- 测试结果去重复 -->
        <listener class-name="com.bewg.pd.interf.listener.TestLinstenerImpl"/>
    </listeners>
</suite> <!-- Suite -->

